In [42]:
import pandas as pd

In [58]:
def get_actor(platform: str, year: int):
   
    url = "datos/csvs/peliculas/peliculas_final.csv"
    datos = pd.read_csv(url, sep=',', encoding='latin-1')  

    if platform=='netflix':
        platform='n'
    if platform=='amazon':
        platform='a'
    if platform=='hulu':
        platform='h'
    if platform=='disney':
        platform='d'
    # Filtrar las filas donde 'cast' no es igual a 'sindato'
    datos = datos[datos['cast'] != 'SinDato']
    datos = datos[datos['id'].str[0].str.lower() == platform]

     # Contar los actores que más se repiten
    actor_count = datos['cast'].str.split(', ', expand=True).stack().value_counts()

    # Verificar si actor_count está vacío o nulo
    if actor_count.empty or actor_count.isna().all():
        return {'actor': 'Dato no disponible'}
        
    # Obtener el actor con el mayor recuento
    top_actor = actor_count.index[0]

    # Retornar el nombre del actor como un diccionario
    return {'actor': top_actor}

In [62]:
anio = 2020
plataforma = 'netflix'
respuesta = get_actor(plataforma, anio)
print(respuesta)

{'actor': 'anupam kher'}

In [48]:
url = "datos/csvs/peliculas/peliculas_final.csv"
datos = pd.read_csv(url, sep=',', encoding='latin-1') 
# datos = datos[datos['cast'] != 'SinDato']
datos.head()

,id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,score
0,ns1,movie,dick johnson is dead,kirsten johnson,SinDato,united states,2021-09-25,2020,pg-13,min,90,3.611111
1,ns2,tv show,blood & water,SinDato,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,season,2,3.552632
2,ns3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",SinDato,2021-09-24,2021,tv-ma,season,1,3.597938
3,ns4,tv show,jailbirds new orleans,SinDato,SinDato,SinDato,2021-09-24,2021,tv-ma,season,1,3.561616
4,ns5,tv show,kota factory,SinDato,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,season,2,3.593023

el dataframe de hulu no esta completo, en la columna cast faltan todos los datos de los nombres de los actores por eso en la funcion de count_actor no es posible entregar esta informacion, en la funcion se modifico para que ofresca la leyenda de sin dato

In [49]:
datos = datos[datos['id'].str[0].str.lower() == 'h']
datos

,id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,score
8807,hs1,movie,ricky velez: here's everything,SinDato,SinDato,SinDato,2021-10-24,2021,tv-ma,NaN,0,3.553333
8808,hs2,movie,silent night,SinDato,SinDato,SinDato,2021-10-23,2020,G,min,94,3.545259
8809,hs3,movie,the marksman,SinDato,SinDato,SinDato,2021-10-23,2021,pg-13,min,108,3.505208
8810,hs4,movie,gaia,SinDato,SinDato,SinDato,2021-10-22,2021,r,min,97,3.592702
8811,hs5,movie,settlers,SinDato,SinDato,SinDato,2021-10-22,2021,G,min,104,3.421444
...,...,...,...,...,...,...,...,...,...,...,...,...
11875,hs3069,tv show,star trek: the original series,SinDato,SinDato,united states,NaN,1966,tv-pg,season,3,3.498058
11876,hs3070,tv show,star trek: voyager,SinDato,SinDato,united states,NaN,1997,tv-pg,season,7,3.502183
11877,hs3071,tv show,the fades,SinDato,SinDato,united kingdom,NaN,2011,tv-14,season,1,3.540860
11878,hs3072,tv show,the twilight zone,SinDato,SinDato,united states,NaN,1959,tv-pg,season,5,3.494163
11879,hs3073,tv show,tokyo magnitude 8.0,SinDato,SinDato,japan,NaN,2009,tv-14,season,1,3.581871